/* Général ------------------------------------------------------------------------------------- */

legend {
    font-weight: bold;
    color: #0568CD;
}

/* Forms --------------------------------------------------------------------------------------- */

.erreur {
	color: red;
}

#envoyerForm {
	margin: 0px 15px 15px 15px;
}