/* Général ------------------------------------------------------------------------------------- */

legend {
    font-weight: bold;
    color: #0568CD;
}

/* Forms --------------------------------------------------------------------------------------- */

.erreur {
	color: red;
}

.succes {
	color: green;
}

.magenta {
	color: #F000FB;
}

.pourpre {
	color: #730BFB;
}


#envoyerForm {
	margin: 0px 15px 15px 15px;
}