/* Général ------------------------------------------------------------------------------------- */

legend {
    font-weight: bold;
    color: #0568CD;
}

/* Forms --------------------------------------------------------------------------------------- */

.erreur {
	color: red;
}